.bgcustom {
  background-color: #dde7f1;
}
.margincustom {
  margin-top: 140px;
}
.immaginebg {
  background-image: url('https://static.licdn.com/aero-v1/sc/h/55k1z8997gh8dwtihm11aajyq');
  background-repeat: no-repeat;
}

.bgcustom2 {
  background-color: #f8fafd;
}
