.bgcustom{
    background-color: #DDE7F1;
}
.margincustom{
    margin-top: 130px;
}
.immaginebg{
    background-image: url("https://static.licdn.com/aero-v1/sc/h/55k1z8997gh8dwtihm11aajyq") ;
    background-repeat: no-repeat;
}