.SuggestedProfile img {
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 20px;
  border-radius: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SuggestedProfile img {
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 20px;
  border-radius: 50px;
}
.SuggestedProfile button {
  border-radius: 20px;
  background-color: white;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}
