
.SuggestedProfile img{
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    margin-right: 20px;
    border-radius: 50px;
}

.SuggestedProfile button{
    border-radius: 20px;
    background-color: white;
}

