p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.SuggestedProfile img {
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 20px;
  border-radius: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}
